@import url('https://fonts.googleapis.com/css?family=Gudea&subset=latin-ext');
@import "../fonts/font/flaticon.css";
body {
  background-repeat: no-repeat;
  background-size: cover;
  background: #45b47f;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #45b47f 0%, #087ecb 55%, #005288 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #45b47f 0%, #087ecb 55%, #005288 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #45b47f 0%, #087ecb 55%, #005288 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45b47f', endColorstr='#005288', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  overflow: hidden;
}
#app {
  font-family: 'Gudea', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #88B5D3;
  margin-top: 60px;
}
